.container{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container-title{
    padding: 0.3rem;
    margin: 0.2rem;
    background: #CFE9FF;
    flex-basis: 0;
    flex-grow: 1;
}

.container-info{
    padding: 0.4rem;
    margin: 0.7rem;
}

.container-item-type > span{
    display: inline-block;
    margin: 1.2rem 2rem;
    padding: 0.3rem;;
    font-size: 1.5rem;
    color: #768693 ;
    border-bottom: 2.5px solid #4384BD ;
    transition: all .3s;
}

.container-item-type > span:hover{
    color: #000 ;
    border-bottom: 2.5px solid #098CFF   ;
    background-color: #CFE9FF ;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px, 1fr));
    grid-template-rows: repeat(3,1fr);
    flex-grow: 1;
    flex-basis: 2;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 1.5rem;
}

.content{
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
}

.content h3,span,p{
    padding: 0.7rem 0;
}

.content > .item-img{
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 25px;
    width: 80%;
    align-content: center;
    height: 70%;

}

.item-img img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;

}

.container-item-btn{
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.1rem;
    align-self: self-end;
    border-radius: 25px;
    background: transparent;
    font-weight: bold;
    transition: all 0.4s;
}


.container-item-btn:hover{
    background: #75BFFF ;
    color: #fff;


}

.amount-less,.amount-plus,.amount{
    background: transparent;
    border-radius: 25px;
    padding: 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
}

.price{
    font-weight: bold;
}

.amount-less span,.amount-plus span{
    font-size: 1.5rem;
}


.amount-plus:hover,.amount-less:hover{
    background: #ACD8FF ;
}

