*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;    
}

body{    
    background: black;
}

.navbar{
    height: 56px;
    background: #121212;
    width: 100%;
    display: grid;
    place-items: center;
}

.navbar .container-options{
    max-width: 1280px;
    width: 100%;
    height: 36px;    
    padding: 0px 12px;
}

.navbar .container-options .options{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;    
    align-items: center;
}

.navbar .container-options .options .Ccontainer-search{
    display: grid;
    place-items: center;
    width: 53%;
    height: 36px;
    margin: 0px 8px;
}

/*CONTAINER PRINCIPAL DEL BUSCADOR*/
.navbar .container-options .options .Ccontainer-search .search{
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 100%;
    border-radius: 4px;
    position: relative
}

/*Agregar Borde al buscador cuando se le da click*/
.search:focus-within::after{
    box-shadow: inset 0px 0px 0px 2px rgba(22, 179, 214, 0.80);;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1; 
    pointer-events: none;
    border-radius: 4px;
}

.searcher{
    outline: none;
    border: transparent;
    border-left: solid 1px #B2B2B2;
    padding: 0px 8px;
    width: 100%;    
    font-size: 0.875rem;
}

.buttonall{
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-color: transparent;
    background: white;
    cursor: pointer;
    text-decoration: none;    /* Elimina la subrayado del texto */
    padding: 0px 12px;
    font-weight: bold;    
    font-size: 0.875rem;
}

.buttonall:hover{
    background: #EDEDED;
}

.buttonall:active{
    background: #CCCCCC;
}

.buttonlens{
    border: transparent;
    background: white;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
    cursor: pointer; 
    display: grid; place-items: center; padding: 0px 10px;
}

.btnnavbar{
    display: grid;
    place-items: center;
    border: transparent;
    border-radius: 4px;
    font-weight: bold;    
    font-size: 0.875rem;
    height: 100%;
}

#dropdown-navbar-menu{
    position: absolute;
    width: 260px;
    height: auto;  
    background: #1F1F1F; /*#121212 ACA ES PARA VER EL CONTENEDOR DE DROPDOWN MENU*/
    display: none;
    margin: 4px 0px 0px;
    padding: 8px 0px;
    border-radius: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: 0; 
    transform: scale(0.4); 
    transform-origin: top left; 
    transition: opacity 0.1s ease, transform 0.1s ease; 
}

#dropdown-navbar-menu.show {
    display: flex;
    opacity: 1; 
    transform: scale(1);
}

.dropdown-btn-option{
    height: 48px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    background: #1F1F1F;
    color: white;
}

.dropdown-btn-option:hover{
    background: #313131;
}

.dropdown-btn-option:active{
    background: #676767;
}

.btn-color{    
    cursor: pointer;
    background: #121212;
    color: white;
}

.btn-color:hover{
    background: #252525;
}

.btn-color:active{
    background: #484848;
}

.svg-btndropdown path, 
.svg-btndropdown .circle-svg-questionsbtn,
.svg-btndropdown .svg-questioningpoint {
    transition: fill 0.3s ease, stroke 0.3s ease; /* Transiciones de color */
}

.dropdown-btn-option:hover .svg-btndropdown path{
    stroke: #FFFFFF;
}

.dropdown-btn-option:hover .svg-btndropdown .circle-svg-questionsbtn{
    stroke: #FFFFFF;
}

.dropdown-btn-option:hover .svg-btndropdown .svg-questioningpoint{
    fill: #FFFFFF;
}

/*================================= ESTA PARTE CORRESPONDE A LO QUE ESTA DEBAJO DEL NAVBAR =================================*/
/*ACA SE CAMBIA EL FONDO DEL CONTENEDOR PRINCIPAL*/
.home-container{
    max-width: 1280px;
    width: 100%;
    display: flex;
    place-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.first-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 8px 0px; 
    min-height: 550px;
    max-height: 650px;
}

.slider-movie{
    width: 67%;        
    background-image: url('../img/home-firstsection/background.webp'); 
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 245px;
    grid-template-columns: 165px 1fr;
    padding-left: 15px;
    margin-right: 10px;
    position: relative;
}

.slider-movie::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: 
        linear-gradient(
            to bottom,
            transparent 50%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0) 95%
        );
}

.poster{
    max-width: 165px;
    height: 245px;
    background-image: url('../img/home-firstsection/poster.webp'); 
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    grid-row: 2;
    z-index: 2;
}

.play-teaser {
    color: white;
    order: 4;
    grid-row: 2;
    grid-column: 2;
    width: calc(100% - 32px);
    height: fit-content;
    margin: 16px 16px 0px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    pointer-events: none;
}

.player {
    display: grid;
    place-items: center;
    margin: 0px 16px 0px 0px;
}

.slider-movie:hover #SVGRepo_iconCarrier {
    fill: #16B3D6;
}

.slider-movie:hover::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}

.movie-name {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

.teaser-info {
    width: fit-content;
    margin: 4px 0px 0px;
    color: #B3B3B3;
    font-size: 1.25rem;
}

.teaser-time {
    height: fit-content;
    margin-top: auto;
    width: fit-content;
    margin: 0px 0px 0px 32px;
    text-align: end;    
    color: #B3B3B3;
    font-size: 1.25rem;
}

/*AHORA EMPIEZA LA SECCIÓN DE PRÓXIMAMENTE*/
.container-coming-soon {
    width: 33%;
    margin: 0px 8px 0px 4px;
    display: flex;
    flex-direction: column;
}

.coming-soon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 444px;
    height: 100%;
    background: #242424;
    position: relative;
}

.coming-soon::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: 
        linear-gradient(
            to bottom,
            transparent -10%,
            rgba(0,0,0,1) 40%,
            rgba(0,0,0) 95%
        );
}

.cs-preview{
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    z-index: 1;
}

.cs-p-img{
    width: 88px;
    height: 130.24px; /*MEDIDA TEMPORAL*/
    padding: 16px 0px 0px;
    color: white;
    z-index: 1;
}

.cs-p-teaser{
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 18px 8px 0px;
}

.cs-p-t-player{
    display: flex;
    flex-direction: row;
    z-index: 1;
    place-items: end;
    margin: 0px 0px 7px;
}

.cs-p-t-player #SVGRepo_iconCarrier{
    transition: fill 0.1s ease;
}

.cs-p-t-player:hover #SVGRepo_iconCarrier{
    fill:#16B3D6;
}

.cs-p-t-player:hover{
    cursor: pointer;
}

.cs-p-t-title{
    z-index: 1;
    font-size: 1rem;
    color: white;
}

.cs-p-t-info{
    z-index: 1;
    font-size: 0.875rem;
    color: #B3B3B3;
}

.explore-teasers{
    z-index: 1; color: white; padding: 16px 16px 0px;font-weight: bold; font-size: 1.25rem;
    cursor: pointer;
    display: flex; flex-direction: row;
}

.explore-teasers:hover {
    color: #16B3D6;
}

.explore-teasers:hover #explore-more-teasers-svg path {
    stroke: #16B3D6;
}

/* DESDE ACÁ INICIA LA PARTE DE DESTACADO HOY */

.movie-list-premiere-containerprincipal{
    display: flex;
    flex-direction: row;
}

.movie-list-premiere-container{
    height: fit-content; /*MEDIDA TEMPORAL DEL CONTAINER DESTACADO HOY red*/
    padding: 24px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.premiere-h1{
    font-size: 2rem;
    font-weight: bold;
    color: #16B3D6;
    margin: 24px 0px;
    padding: 0px 24px;
}

.premiere-list{
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.premiere-c{
    cursor: pointer;
    display: flex; 
    align-items: end; 
    flex-direction: row; 
    position: absolute; 
    width:  100%;
    height: 100%; 
    top: 0; 
    background-image: 
        linear-gradient(to bottom, 
        transparent 10%, 
        rgba(0,0,0,0.5) 
        80%, rgba(0,0,0,0.8) 95%);
}

.bg-hover-semitransparent:hover {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}


.premiere-c .svg path, .premiere-c .svgf{
    transition: stroke 0.3s ease, fill 0.3s ease;
}
.premiere-c:hover .svg path{
    stroke: #16B3D6; 
}

.premiere-c:hover .svgf{
    fill: #16B3D6; 
}

.premiere-title{
    font-size: 1rem;
    color: white;
    width: 394.64px;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px;
}

.p-tunderline:hover{
    text-decoration: underline;
}

/* HASTA ACÁ LA PARTE DEL DESTACADO HOY */

/* ACÁ INICIA LA PARTE DE EN CARTELERA */
.onpremiere{
    height: 64px;
    width: 100%;
    padding: 0px 0px 12px;
    color: #16B3D6;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: end;
}

.onpremiere-h1{
    width: 100%; margin: 24px 0px 0px; padding: 0px 24px; height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-more-premieremovies-container{
    display: flex; flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    margin: 0px 0px 0px 8px;
    border-radius: 4px;
    height: 100%;
    cursor: pointer;
}
.explore-more-premieremovies-container:hover {
    background: #070C13;
}
.explore-more-premieremovies-container:active {
    background: #142236;
}

.mlps-container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    
    height: 512px; /*MEDIDA TEMPORAL CAMBIAR A FIT CONTENT O AUTO LUEGO*/
    margin: 0px 0px 8px;
    padding: 24px 0px;
}

.mlps-header{
    display: flex;
    flex-direction: row;
    background: black; /*Cambiar Fondo transparent o eliminar*/
    font-size: 1.5rem;
    font-weight: bold;
    height: fit-content;
    position: relative;
    margin: 0px 0px 16px;
    padding: 0px 24px;
    color: white;
}

.mlps-h-b{
    content: "";
    width: 4px;
    border-radius: 4px;
    height: 100%;
    background: #16B3D6;    
    position: absolute;
    padding: 0px 0px 0px -12px;
}

.movie-premier-slider{
    background: blue;
    width: 100%;
}