<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SvHome</servlet-name>
        <servlet-class>ServLets.SvHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntContact</servlet-name>
        <servlet-class>ServLets.cntContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntSuggestions</servlet-name>
        <servlet-class>ServLets.cntSuggestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntCustomer</servlet-name>
        <servlet-class>ServLets.cntCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntLogin</servlet-name>
        <servlet-class>ServLets.cntLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntLogout</servlet-name>
        <servlet-class>ServLets.cntLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntClaims</servlet-name>
        <servlet-class>ServLets.cntClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntLocales</servlet-name>
        <servlet-class>ServLets.cntLocales</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvHome</servlet-name>
        <url-pattern>/SvHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntContact</servlet-name>
        <url-pattern>/cntContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntSuggestions</servlet-name>
        <url-pattern>/cntSuggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntCustomer</servlet-name>
        <url-pattern>/cntCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLogin</servlet-name>
        <url-pattern>/cntLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntClaims</servlet-name>
        <url-pattern>/cntClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLocales</servlet-name>
        <url-pattern>/cntLocales</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
